$font-family: Roboto, sans-serif;
$primary-color: black;
$font-weight: bold;
$footer-background: rgb(221, 220, 220);
$footer-list-color: black;
$main-background: rgb(244, 245, 245);


body 
{
    font-family: $font-family;        
}

.nav
{
    display: flex;
    justify-content: center;     
}

.nav__logo
{
    width: 250px;
}

h1, h2, h3
{
    font-family: $font-family;
    font-weight: $font-weight;    
}

.proj-explore
{
    &--grey
    {
        background-color: $main-background;
    }   

    &__heading
    {
        background-color: rgb(221, 220, 220);
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid gray;        
    }   
}

.proj-explore__text
{
    text-align: center;  
}

.proj-explore__button
{
    background-color: #d1b1df;
    border-radius: 10px;
    border: 0px solid white;
    color: white;
        
}


.proj-order--howworkss
{
    background-color: $main-background;
    
}

.proj-order__button
{
    display: flex;
    width: 100%;
    height: 80px;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;    
}

.fa-1
{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    
}

i.fa-1
{
    display: inline-block;
    border-radius: 90px;        
    padding: 7.4px 10.2px;
    background-color: #a95aca;
}

.fa-2
{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    
}

i.fa-2
{
    display: inline-block;
    border-radius: 90px;        
    padding: 7.4px 10.2px;
    background-color: #a95aca;
}

.fa-3
{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    
}

i.fa-3
{
    display: inline-block;
    border-radius: 90px;        
    padding: 7.4px 10.2px;
    background-color: #a95aca;
}

.proj-restaurants--list
{
    background-color: rgb(206, 206, 206);
    
}

.proj-restaurants__card
{
    
}

.proj-restaurants__card a
{
    
}

.proj-restaurants__card img
{
    width: 100%;    
}  



.proj-menu--menu
{
    .proj-menu__card
    {
        .proj-menu__send
        {

        }
    }
}

footer
{
    background-color: $footer-background;
    display: flex;    
    flex-direction: column;
    width: 100%;    
}

.footer-img
{
    width: 100%;
}

ul.list
{
    list-style: none;
}

ul.list > li + a
{
    // list-style-type: none;
    text-decoration: none;   
    color: $footer-list-color;
    text-decoration: none;
}
