$font-family: Roboto, sans-serif;
$primary-color: black;
$font-weight: bold;
$footer-background: rgb(43, 43, 43);
$footer-list-color: black;
$main-background: rgb(245 247 247);



//Spinner
.loading
    {
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 10;
      /*ici tout ce qui concerne votre background linear gradient*/
      background-color: whitesmoke;
      animation: hideLoader 3000ms 1 forwards;
      animation-delay: 1500ms;
    }

    .loading::after
    {
      content : "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      /*ici votre design de bordure */
      width: 50px;
      height: 50px;
      border: #9356DC solid 5px;
      border-top-color: #efd3fa;
      border-bottom-color: #efd3fa;      
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    @keyframes hideLoader
    {
      100%
      {
        opacity: 0;
        display: none;
      }
    }

    @keyframes spin
    {
      100%
      {
        transform: translate(-50%,-50%) rotate(360deg);
      }
    }

body {
  font-family: $font-family;
  // padding: 0 40px;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin: 10px;
  width: 100%;
}

.nav__logo {
  width: 250px;
}

.text {
  width: 70%;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.nav__heading {
  display: flex;
  align-items: center;
  width: 100%;
  // justify-content: center;
}

.icon {
  display: flex;
  justify-content: flex-start;
  width: 80px;
  // justify-content: center;
}

.fa-arrow-left-long {
  font-size: 25px;
  color: black;
}

i.fa-arrow-left-long {}

h2,
h3 {
  font-family: $font-family;
  font-weight: $font-weight;
}

h1
{
  font-family: 'Shrikhand', cursive;
  font-weight: 900;
  font-style: italic;
}

#main {
  display: flex;
  flex-direction: column;
}

.proj-explore {
  &--grey {
    background-color: $main-background;
  }

  &__heading {
    background-color: rgb(239 237 237);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(187, 187, 187);
    font-weight: bold;
  }

  .fa-location-dot {
    padding: 15px;
  }

  i.fa-location-dot {
    font-size: 20px;
  }

  &__text {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 18px;
  }

  &__button {
    background-image: linear-gradient(to bottom right, #f2d4ff, #ac36df);
    border-radius: 30px;
    border: 0px solid white;
    color: white;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px #eee;
  }

  &__button:hover {
    background-image: linear-gradient(to bottom right, #e4bcf5, #d675ff);
    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
  }
}


.proj-order {

  &--howworks {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 10px;
    margin: 20px;
  }

  .icon {
    display: flex;
    justify-content: flex-end;
    width: 40px;
  }

  .text {
    width: calc(100% - 40px);
    font-size: 15px;
  }

  &__button {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 3px 1px #c9c9c9;
    margin-left: -20px;

  }

  &__button:hover {
    background-color: #efd3fa;
  }

  &__button:hover i {
    color: #9506ce;
  }

  .fa-mobile-screen-button {
    font-size: 20px;

  }

  i.fa-mobile-screen-button {}

  .fa-list-ul {
    font-size: 20px;

  }

  i.fa-list-ul {}

  .fa-store {
    font-size: 20px;

  }

  i.fa-store {}

  .fa-1 {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    position: relative;
  }

  i.fa-1 {
    display: inline-block;
    border-radius: 90px;
    padding: 7px 9.5px;
    background-color: #a95aca;
    margin-right: 10px;
  }

  .fa-2 {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    position: relative;
  }

  i.fa-2 {
    display: inline-block;
    border-radius: 90px;
    padding: 7px 9px;
    background-color: #a95aca;
    margin-right: 10px;
  }

  .fa-3 {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    position: relative;
  }

  i.fa-3 {
    display: inline-block;
    border-radius: 90px;
    padding: 7px 9px;
    background-color: #a95aca;
    margin-right: 10px;
  }

  article {
    display: flex;
    align-items: center;
  }
}

.proj-restaurants {
  width: 100%;
  display: flex;
  gap: 25px;
  padding-bottom: 90px;
  flex-wrap: wrap;
  justify-content: center;

  &--list {
    background-color: rgb(249, 249, 249);
  }

  .container {
    position: relative;
  }

  .text_float {
    display: flex;
    position: absolute;
    background-color: #99E2D0;
    color: #488f40;
    top: 17px;
    right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    width: 77px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }

  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    margin: auto;
  }

  &__card a {
    width: 100%;
    text-decoration: none;
    color: black;
  }

  &__card img {
    width: 100%;
    border-top-left-radius: 10px;
    object-fit: cover;
    border-top-right-radius: 10px;
    height: 200px
  }

  .description {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .description .text {
    width: calc(100% - 80px);
    padding: 0 20px;
    text-align: left;
    line-height: 5px;
    flex-direction: column;
  }

  .description .icon {
    width: 10px;
    padding: 0 20px;
  }

  article {
    width: 40%;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    padding-left: 15px;
    display: flex;
    flex-basis: 100%;
  }

  .fa-heart {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 23px;
  }

  .fa-heart::before {
    content: "\f08a";
    // font-weight: bold;
    transition: color 1.75s ease-out;
  }

  .fa-heart:hover::before {
    color: #d675ff;
    cursor: pointer;
  }

  i-fa-heart:hover {
    color: #9506ce;
  }

}

.proj-menu {

  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);

  &--menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__cadre {
    background: #f5f7f7;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  }

  &__img img {
    width: 100%;
  }

  &__card {
    width: 95%;
    display: flex;
    // flex-direction: column;
    background-color: #ffffff;
    padding: 2px;
    border-radius: 10px;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
    
  } 

  &__card:hover > .slide
  {
    width: 80px;
    background-color: #44AD8B;
    height: 97.44px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    // opacity: 1;
  }

  .slide
  {
    display: flex;
    width: 0;
    transition: all 1s;
  }  
  
  .slideffect
  {
    margin: auto;
    // border: 4px solid currentColor;
    border-radius: 50%;
    // color: #690;
    background-color: #44AD8B;
    transition: transform 1s;
    // opacity: 0;
    
  }
  
  .h3, p {text-overflow: ellipsis;}
  

  .fa-circle-check {
    color: white
  }

  i-fa-circle-check {}

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

    .apparition {
      animation: fadein 1s;
      -moz-animation: fadein 1s;
      /* Firefox */
      -webkit-animation: fadein 1s;
      /* Safari et Chrome */
  
      @keyframes fadein {
        0% {
          opacity: 0;
        }
  
        100% {
          opacity: 1;
        }
      }
  
      @-moz-keyframes fadein {
  
        /* sur Firefox */
        0% {
          opacity: 0;
        }
  
        100% {
          opacity: 1;
        }
      }
  
      @-webkit-keyframes fadein {
  
        /* sur Safari et Chrome */
        0% {
          opacity: 0;
        }
  
        100% {
          opacity: 1;
        }
      }
    }
  
    .apparition2 {
      
      animation: fadein 4s;
      -moz-animation: fadein 4s;
      /* Firefox */
      -webkit-animation: fadein 4s;
      /* Safari et Chrome */
      
  
      @keyframes fadein {
        0% {
          opacity: 0;
        }
  
        50% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
  
      @-moz-keyframes fadein {
  
        /* sur Firefox */
        0% {
          opacity: 0;
        }
  
        50% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
  
      @-webkit-keyframes fadein {
  
        /* sur Safari et Chrome */
        0% {
          opacity: 0;
        }
  
        50% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }
  
    .apparition3 {
      animation: fadein 8s;
      -moz-animation: fadein 8s;
      /* Firefox */
      -webkit-animation: fadein 8s;
      /* Safari et Chrome */
  
      @keyframes fadein {
        0% {
          opacity: 0;
        }
  
        50% {
          opacity: 0;
        }
        66% {
          opacity: 0.7;
        }

        100% {
          opacity: 1;
        }
      }
  
      @-moz-keyframes fadein {
  
        /* sur Firefox */
        0% {
          opacity: 0;
        }
  
        33% {
          opacity: 0;
        }

        66% {
          opacity: 0.7;
        }

        100% {
          opacity: 1;
        }
      }
  
      @-webkit-keyframes fadein {
  
        /* sur Safari et Chrome */
        0% {
          opacity: 0;
        }
  
        50% {
          opacity: 0;
        }

        66% {
          opacity: 0.7;
        }

        100% {
          opacity: 1;
        }
      }
    }
  &__send {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 50px;
  }

  button {
    background-image: linear-gradient(to bottom right, #f2d4ff, #ac36df);
    border-radius: 30px;
    border: 0px solid white;
    color: white;
    padding: 15px 45px;
    box-shadow: 1px 1px 1px 1px #eee;
  }

  button:hover {
    background-image: linear-gradient(to bottom right, #e4bcf5, #d675ff);
    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
  }

  h2 {
    border-bottom: 2px solid #44AD8B;
    display: flex;
    width: 40px;
    font-size: 18px;
  }

  .fa-heart {
    font-size: 23px;
  }

  .titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    

  }

  .plat {
    //display: flex; 
    flex-direction: column;
    width: 100%;
    // width: 80%;
    // line-height: 0px;
  }

  .prix {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
  }


}

footer {
  background-color: $footer-background;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer img {
  width: 120px;
  filter: brightness(0) invert(1);
  padding-left: 40px;
  padding-top: 30px;

}

.list ul {
  list-style-type: none;
  // text-decoration: none;
  // color: #ffffff;      
}

.list a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  line-height: 30px;
}

.fa-utensils {}

i.fa-utensils {
  padding-right: 10px;
}

.fa-hanshake-angle {}

i.fa-handshake-angle {
  padding-right: 3px;
}


.background{

    display: flex;
    width: 100%;   
}


.background img
{
  display: flex;
  width: 100%;
  margin-bottom: -14%;
}

@media screen and (min-width: 768px) and (max-width:991px) {}

@media screen and (max-width: 767px) {

  .proj-restaurants
  {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding-bottom: 90px;

    &__card {
      width: 90%;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      text-align: center;
      padding: 2px;
      border-radius: 10px;
      margin: auto;
    }

    article {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h2 {
      padding-left: 15px;
    }
  }
  
}


