$font-family: Roboto, sans-serif;
$primary-color: black;
$font-weight: bold;
$footer-background: rgb(21, 21, 21);
$footer-list-color: black;
$main-background: rgb(244, 245, 245);


body 
{
    font-family: $font-family;
    // padding: 0 40px;
    margin: 0;        
}

.nav
{
    display: flex;
    justify-content: center;     
}

.nav__logo
{
    width: 250px;
}

h1, h2, h3
{
    font-family: $font-family;
    font-weight: $font-weight;    
}

.proj-explore
{
    &--grey
    {
        background-color: $main-background;
    }   

    &__heading
    {
        background-color: rgb(221, 220, 220);
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid gray;        
    }
    
    &__text{ text-align: center; }
    &__button{ background-color: #d1b1df; border-radius: 10px; border: 0px solid white; color: white;}

}


.proj-order
{    
    
    &--howworks
    {
        background-color: #ffffff; 
         display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 20px;    
    }
    
    
    &__button
    {
        background-color: #ffffff;
    }   
}



.fa-1
{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    
}

i.fa-1
{
    display: inline-block;
    border-radius: 90px;        
    padding: 7.4px 10.2px;
    background-color: #a95aca;
}

.fa-2
{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    
}

i.fa-2
{
    display: inline-block;
    border-radius: 90px;        
    padding: 7.4px 10.2px;
    background-color: #a95aca;
}

.fa-3
{
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    
}

i.fa-3
{
    display: inline-block;
    border-radius: 90px;        
    padding: 7.4px 10.2px;
    background-color: #a95aca;
}

.proj-restaurants
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-items: center;
    gap: 25px;
    color: #ffffff;

    &--list{ background-color: rgb(206, 206, 206);}
    &__card {width: 75%;display: flex; flex-direction: column; background-color: #ffffff; text-align: center; padding: 2px; border-radius: 10px; margin: auto;}
    &__card a{width: 100%; text-decoration: none; color: black;}
    &__card img {width: 100%; border-top-left-radius: 10px; object-fit: cover; border-top-right-radius: 10px; height:150px}
    article{width: 100%;}
    
        
}

.proj-menu 
{
    &--menu{}
    &__img{}
    &__card{}
}

.fa-heart
{
       
    
}

i.fa-heart
{
    color:#a95aca;
}

footer
{
    background-color: $footer-background;
    display: flex;    
    flex-direction: column;
    width: 100%;    
}

footer img
{
    width: 120px;
    filter: brightness(0) invert(1); 
    padding-left: 40px;
    padding-top: 20px;

}

.list ul
{
    list-style-type: none;
    // text-decoration: none;
    // color: #ffffff;      
}

.list a 
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.fa-utensils
{
    
    
}

i.fa-utensils
{
 
}

.fa-hanshake-angle
{
    
    
}

i.fa-hanshake-angle
{
    
}


