$font-family: Roboto, sans-serif;
$primary-color: black;
$font-weight: bold;
$footer-background: rgb(221, 220, 220);
$footer-list-color: black;
$main-background: rgb(179, 177, 177);




body 
{
    font-family: $font-family;        
}

.nav
{
    display: flex;
    justify-content: center;     
}

.nav__logo
{
    width: 250px;
}

h1, h2, h3
{
    font-family: $font-family;
    font-weight: $font-weight;    
}

.proj-explore--grey
{
    background-color: $main-background;
}

.proj-explore__heading
{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proj-explore__text
{

}

.proj-order--howworkss
{
    background-color: $main-background;
}

.proj-order_card
{

}

.proj-restaurants--list
{

}

.proj-restaurants__card
{

}

.proj-menu--menu
{

}

.proj-menu__card
{

}

.proj-menu__send
{

}

footer
{
    background-color: $footer-background;
    display: flex;    
    flex-direction: column;
    width: 100%;    
}

.footer-img
{
    width: 100%;
}

ul.list
{
    list-style: none;
}

ul.list > li + a
{
    list-style-type: none;
    text-decoration: none;   
    color: $footer-list-color;
}
